body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-image:url('bg.png');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.glass {
  background: white;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;

}

button, button:hover, button:active, button:focus, button:visited, .btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
  text-decoration: none !important;
  outline: none !important;
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  opacity: 1;
}

#quiz {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Arial';
  color: #667bfd;
  text-align: center;
  letter-spacing: .015em;
}
#quiz .container-fluid {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#quiz-stats {
  padding: 16px 0 12px 0;
  margin: 0;
  font-size: 10px;
  color: #21bef6);
}
#quiz-stats .fa-bar-chart {
  font-size: 56px;
  color: rgba(0, 0, 0, 0.8);
}
#quiz-stats>div>p {
  padding: 0;
  margin: 0;
}
#quiz-stats>div>span {
  font-size: 24px;
}
#quiz-stats>div>span.fadeIn {
  animation-duration: 0.375s;
}
#quiz-stats>div>span.fadeOut {
  animation-duration: 0.375s;
}
#quiz-question {
  font-size: 20px;
  font-weight: 600;
  margin: 32px 0 26px 0;
}
#quiz-options {
  margin: 26px 0;
}
.quiz-ans-btn {
	font-size: 20px;
  color: #fff;
/*   display: block;   */
  width: 45%;
  min-height: 75px;
  padding: 5px;
  background-color: #667bfd;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 50px;
  outline: none;
  letter-spacing: .05em;
  transition: all 0.5s;
  margin: 8px;
/*   margin:auto; */
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  white-space: normal;
}
.quiz-ans-btn:hover { color: #fff; background-color: #21bef6; }
.btn.quiz-ans-btn:active, .btn.quiz-ans-btn:focus { color: #fff; background-color: #334d4d; }
.quiz-ans-btn.correct {
  background-color: #28E081;
}
.quiz-ans-btn.incorrect {
  background-color: #ff5b45;
}
#quiz-play-again {
  overflow-y: hidden;
  display: none;
}
#quiz-play-again-btn {
  display: block;
  font-size: 32px;
  color: #fff;
  background-color: #667bfd;
	border: 8px double #fff;
	border-radius: 14px;
	padding: 5px 10px;
  width: 33%;
  min-height: 100px;
  outline: none;
  letter-spacing: .05em;
  transition: all 0.5s;
  margin: 0px auto;
  white-space: normal;
}
#quiz-play-again-btn:hover { color: #fff; background-color: #667bfd; }
#quiz-play-again-btn:active, #quiz-play-again-btn:focus { color: #fff; background-color:  #667bfd; }
#quiz-play-again-btn.pulse {
  animation-duration: 2s;
}

@media (max-width: 768px) {
  #quiz-stats { padding: 12px 0 8px 0; font-size: 10px; }
  #quiz-stats>div>span { font-size: 18px; }
  #quiz-stats>div>p>span { display: none; }
  #quiz-stats .fa-bar-chart { font-size: 54px; }
  #quiz-question { font-size: 16px; margin: 20px 0 14px 0; }
  #quiz-options { margin: 14px 0 20px 0; }
  .quiz-ans-btn { font-size: 16px; min-height: 65px; }
  #quiz-play-again-btn {  font-size: 28px; width: 66%; }
}
